[Unit]
Description=ds4drv daemon
Requires=bluetooth.service
After=bluetooth.service

[Service]
ExecStart=/usr/bin/ds4drv
Restart=on-abort

[Install]
WantedBy=bluetooth.target
