[Unit]
Description=ds4drv daemon
Requires=bluetooth.service
After=bluetooth.service

[Service]
EnvironmentFile=/etc/ds4drv.conf
ExecStart=/usr/bin/ds4drv $DS4DRV_OPTS
Restart=on-abort

[Install]
WantedBy=bluetooth.target
