[Unit]
Description=ds4drv daemon
Requires=bluetooth.target
After=bluetooth.target

[Service]
Type=idle
ExecStart=/usr/local/bin/ds4drv
Restart=always

[Install]
WantedBy=multi-user.target
