# Source: https://github.com/chrippa/ds4drv/blob/master/systemd/ds4drv.service
# Location: /etc/systemd/system/ds4drv.service
[Unit]
Description=ds4drv daemon
Requires=bluetooth.target
After=bluetooth.target

[Service]
Type=idle
ExecStart=/usr/local/bin/ds4drv
Restart=always

[Install]
WantedBy=multi-user.target
